<div class="container">
    <div class="card-login">
        <h2 class="login">Login</h2>
        <form class="form-login" onsubmit="handleSubmit()">
            <div class="email">
                <label class="label-email" for="input-email">Email:</label>
                <input class="input-email" name="email" type="email" placeholder="Your email!" required />
            </div>
            <br>
            <div class="password">
                <label class="label-password" for="input-password">Password:</label>
                <input class="input-password" name="password" type="password" placeholder="Your password!" required />
            </div>
            <div class="submit">
                <input class="input-submit" type="submit" value="Submit" />
            </div>
        </form>
    </div>
</div>
<script>
    function handleSubmit() {
        alert('ahdsdhas')
    }
</script>